<!DOCTYPE html>
<html>
<head>
  <title>AjaxMockServer</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
  <li><a href="#!">one</a></li>
  <li><a href="#!">two</a></li>
  <li class="divider"></li>
  <li><a href="#!">three</a></li>
</ul>
<nav>
  <div class="nav-wrapper">
    <a href="/namespaces" class="brand-logo center">Mock Server</a>
  </div>
</nav>

<div class="container">
	<div class="row">
		<div class="col l12 offset-l2 m12 s12">
			<%= yield %>
		</div>
	</div>
</div>


</body>
</html>
