<!DOCTYPE html>
<html>
<head>
  <title>AjaxMockServer</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="navbar-fixed">
    <nav class="teal">
      <div class="nav-wrapper">
        <ul class="brand-logo center">
          <li class="active"><a href="/namespaces">Mock管理</a></li>
          <li><a href="#">JS 构建</a></li>
        </ul>
      </div>
    </nav>
  </div>

  <div class="container">
    <div class="row center">
      <%= yield %>
    </div>
  </div>

</body>
</html>
